@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@font-face {
    font-family: Lovelo-Black;
    src: url('../fuentes/Lovelo-Black.otf');
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body { margin: 0;}

:root{ /* decalaración de variables */
    --color-txt: #41516a;
    --color-title: #5055e4;
    --color-primary-clear:#72a8f9;
    --color-primary:#0d6efd;
    --color-primary-darked:#0c4fb3;
    --color-secondary-clear:#d8d8d8;
    --color-secondary:#adb5bd;
    --color-secondary-darked:#8f959b;
    --color-succes-clear:#568f74;
    --color-succes:#198754;
    --color-succes-darked:#115837;
    --color-info-clear:#70b3bd;
    --color-info:#17a2b8;
    --color-info-darked:#127d8d;
    --color-warning-clear:#ffe28a;
    --color-warning:#ffc107;
    --color-warning-darked:#c7980b;
    --color-danger-clear:#df7e87;
    --color-danger:#dc3545;
    --color-danger-darked:#af2835;
    --color-light: #f8f8f8;
    --color-light-darked: #999;
    --color-dark:#343a40;
    --color-dark-darked:#191c1f;
    --border-color: #dee2e6;
    --container-padding: 1.5em;   
}
